<div id="abilitiesViewId" class="abilities">
	<div class="row">
		<ability-component v-for="ability in character.nonPassiveAbilities" :ability="ability" :key="ability.id"></ability-component>
	</div>




<!--Ability options modal -->
	<div class="modal fade" id="chooseAbilityOptionModal" tabindex="-1" role="dialog" aria-labelledby="chooseAbilityOption">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Choose option</h4>
				</div>
				<div class="modal-body">

					
					
				</div>
				<div class="modal-footer">
					<button id="confirmAbilityOptionId" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="abilityOptionTemplateId" style="display:none">
		<div class="row ability-option-row">
			<div class="col-4"><span class="ability-option-name"></span></div>
			<div class="col-8"><input type="text" class="ability-option-input"></div>
		</div>
	</div>


</div>

