<div id ="characterView" class="view" style="display: true;">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">STR</th>
				<th scope="col">DEX</th>
				<th scope="col">CON</th>
				<th scope="col">INT</th>
				<th scope="col">WIS</th>
				<th scope="col">CHA</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="strengthId">0</td>
				<td id="dexterityId">0</td>
				<td id="constitutionId">0</td>
				<td id="intelligenceId">0</td>
				<td id="wisdomId">0</td>
				<td id="charismaId">0</td>
			</tr>			
		</tbody>
	</table>
	
	<div class="row">
	
		<!-- OFFENSE-->
		<div id="offenseId" class="col">
			<div id="attack0Id" class="row">
				<div class ="col-6">
					Hit: <span id="toHitId">0</span>
				</div>
				
				<div class ="col-6">
					Dmg: <span id="dmgBonusId" >0</span>
				</div>
				
			</div>
		</div>
	
		<!-- DEFENSE-->
		<div id="defenseId" class="col">
			<div class="row">
				<div class ="col-6">
					AC:
				</div>
				<span class ="col" id="armorClassId">10</span>
			</div>
			<div class="row">
				<div class ="col-6">
					Touch:
				</div>
				<span class ="col" id="touchAcId">10</span>
			</div>
			<div class="row">
				<div class ="col-6">
					FlatFooted:
				</div>
				<span class ="col" id="flatFootedId">10</span>
			</div>
		</div>
		
		<!-- SAVES-->
		<div id="saves" class="col">
			<div class="row">
				<div class ="col-5">
					Fortitude:
				</div>
				<span class ="col" id="fortitudeId">0</span>
			</div>
			<div class="row">
				<div class ="col-5">
					Reflex:
				</div>
				<span class ="col" id="reflexId">0</span>
			</div>
			<div class="row">
				<div class ="col-5">
					Will:
				</div>
				<span class ="col" id="willId">0</span>
			</div>
		</div>
		
	</div>
	
	<div class="row">		
		<div class="col-8 abilities">
			<c-view view="abilitiesView"></c-view>
		</div>

		<div id="statusEffectsId" class="col-4">
			<c-view view="statusEffectsView"></c-view>
			
		</div>
	
	</div>
	
	<div id="conditionEffectTemplateId" style="display:none">
		<div class="row condition-row">
			<div class="col">
				<button class="btn btn-condition-effect"></button>
			</div>
		</div>
	</div>
	
		<div id="buffEffectTemplateId" style="display:none">
		<div class="row condition-row">
			<div class="col">
				<button class="btn btn-buff-effect"></button>
			</div>
		</div>
	</div>
</div>

