<div id ="characterView">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">STR</th>
				<th scope="col">DEX</th>
				<th scope="col">CON</th>
				<th scope="col">INT</th>
				<th scope="col">WIS</th>
				<th scope="col">CHA</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="strengthId">{{ character.attributes.strength.getValue() }}</td>
				<td id="dexterityId">{{ character.attributes.dexterity.getValue() }}</td>
				<td id="constitutionId">{{ character.attributes.constitution.getValue() }}</td>
				<td id="intelligenceId">{{ character.attributes.intelligence.getValue() }}</td>
				<td id="wisdomId">{{ character.attributes.wisdom.getValue() }}</td>
				<td id="charismaId">{{ character.attributes.charisma.getValue() }}</td>
			</tr>			
		</tbody>
	</table>
	
	<div class="row">
	
		<!-- OFFENSE-->
		<div id="offenseId" class="col">

			
			<div v-for="attack in character.offense.getAttacks()" class="row">
				<div class ="col-6">
					Hit: <span id="toHitId">{{ attack.getToHit() }}</span>
				</div>
				
				<div class ="col-6">
					Dmg: <span id="dmgBonusId" >{{ attack.getDmg() }}</span>
				</div>
				
			</div>
		</div>
	
		<!-- DEFENSE-->
		<div id="defenseId" class="col">
			<div class="row">
				<div class ="col-6">
					AC:
				</div>
				<span class ="col" id="armorClassId">{{ character.defense.getArmorClass() }}</span>
			</div>
			<div class="row">
				<div class ="col-6">
					Touch:
				</div>
				<span class ="col" id="touchAcId">{{ character.defense.getTouchAc() }}</span>
			</div>
			<div class="row">
				<div class ="col-6">
					FlatFooted:
				</div>
				<span class ="col" id="flatFootedId">{{ character.defense.getFlatFootedAc() }}</span>
			</div>
		</div>
		
		<!-- SAVES-->
		<div id="saves" class="col">
			<div class="row">
				<div class ="col-5">
					Fortitude:
				</div>
				<span class ="col" id="fortitudeId">{{ character.saves.fort.getValue() }}</span>
			</div>
			<div class="row">
				<div class ="col-5">
					Reflex:
				</div>
				<span class ="col" id="reflexId">{{ character.saves.reflex.getValue() }}</span>
			</div>
			<div class="row">
				<div class ="col-5">
					Will:
				</div>
				<span class ="col" id="willId">{{ character.saves.will.getValue() }}</span>
			</div>
		</div>
		
	</div>
	
	<div class="row border-top border-bottom">
	
		<!-- CMB-->
		<div id="cmbWeaponId" class="col-4 ">
			<div class="row">
				<div class ="col-6">
					Cmb: <span>{{ character.offense.getCmb() }}</span>
				</div>
				
				<div class ="col-6">
					Wpn: <span>{{ character.offense.getCmbWeapon() }}</span>
				</div>
			</div>
		</div>
		
		<div id="cmdId" class="col-4">
			<div class="row">
				<div class ="col">
					Cmd:
				</div>
				<span class ="col" id="fortitudeId">{{ character.defense.getCmd() }}</span>
			</div>
		</div>
	
	
	</div>
	
	<div class="row">		
		<div class="col-8 abilities">
			<abilities-component></abilities-component>
		</div>

		<div id="statusEffectsId" class="col-4">
			<status-effects-component/>
			
		</div>
	
	</div>
	
	<div id="conditionEffectTemplateId" style="display:none">
		<div class="row condition-row">
			<div class="col">
				<button class="btn btn-condition-effect"></button>
			</div>
		</div>
	</div>
	
	<div id="buffEffectTemplateId" style="display:none">
		<div class="row condition-row">
			<div class="col">
				<button class="btn btn-buff-effect"></button>
			</div>
		</div>
	</div>
</div>


