<span id="levelPickerViewId">
	
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chooseLevelModalId">
  		Level {{ level }}
	</button>
	
	<div class="modal fade" id="chooseLevelModalId" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Choose option</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					
				</div>
				<div class="modal-body">
					<input type="number" v-model="level"/>
					
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-on:click="setLevel" data-dismiss="modal">Confirm</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
</span>