<div id = "skillsView" class="view">
	<div class="skillsTable">
		<div class="row skills-header">
			<div class="col-6 skill-header skill-name">
				Name
			</div>
			<div class="col-1 skill-header skill-value">
				Value
			</div>
			<div class="col-1 skill-header skill-rank">
				Ranks
			</div>
			
		</div>

		<div v-for="skill in skills" class="row skill-row">
			<div v-bind:class="'col-6 skill-name skill-untrained-'+skill.untrained+' skill-classskill-'+skill.isClassSkill">
				{{skill.name}}
			</div>
			<div class="col-1 skill-value">
				{{skill.getValue()}}
			</div>
			<div class="col-1 skill-rank">
				{{skill.ranks}}
			</div>
			<div class="col-3 skill-mod">
				<button class="btn skill-add-btn" v-on:click="addRank(skill)" data-skill-name=${skill.name} >+</button>
				<button class="btn skill-remove-btn" v-on:click="removeRank(skill)" data-skill-name=${skill.name} >-</button>
			</div>
			
		</div>
	</div>
</div>