<div id = "spellBookView">
	<div class="row spell-level-select"><div class="col">
		<button class="btn spell-level-btn" data-spell-level="0" disabled>0</button>
		<button class="btn spell-level-btn" data-spell-level="1">1</button>
		<button class="btn spell-level-btn" data-spell-level="2">2</button>
		<button class="btn spell-level-btn" data-spell-level="3">3</button>
		<button class="btn spell-level-btn" data-spell-level="4">4</button>
		<button class="btn spell-level-btn" data-spell-level="5">5</button>
		<button class="btn spell-level-btn" data-spell-level="6">6</button>		
	</div></div>
	<div class="row">
		<div class="spell-toggles col">
			<button id="toggleAllId" disabled type="button" class="btn spellbook-toggle" data-toggle="all">All</button>
			<button id="toggleKnownId" type="button" class="btn spellbook-toggle"  data-toggle="known">Known</button>
			<button id="toggleMemorizedId" type="button" class="btn spellbook-toggle"  data-toggle="memorized" >Memorized</button>
		</div>
		<div class="memorized-configurations col">
			<button type="button" class="btn save-memorized" data-toggle="modal" data-target="#saveMemorizedModalId">Save</button>
			<button type="button" class="btn load-memorized" data-toggle="modal" data-target="#loadMemorizedModalId">Load</button>
			<button type="button" class="btn reset-memorized" id="resetMemorizedId">Reset</button>
		</div>
		<div id="memorized-count" class="memorized-count col-12">
				{{character.getMemorizedSpells().size(0)}}
				/
				{{character.getMemorizedSpells().capacity(0)}}
		</div>
		
		
		
	</div>
	

<!-- 	<div id="allSpellsListId" class="toggle-known" data-spell-level=${spellbookController.getSelectedSpellLevel()}> -->
<!-- 		<c-for-each list="allSpells" data-var="spell"> -->
<!-- 		</c-for-each> -->
<!-- 	</div> -->
	
	<div id="allSpellsListId" class="toggle-all" data-spell-level=0 data-toggle="all">
		<div v-for="spell in allSpells" v-bind:id="'spell-'+spell.id" v-bind:data-spell-id="spell.id" 
			v-bind:class="'row spell-row spell-level-'+spell.level+' all '+(spell.isLearned(character) ? 'known' : '') +' '+ (spell.isMemorized(character) ? 'memorized' : '')" 
			style="display: none"> 
			<div class="col-6 col-sm-4 spell-name align-middle"> <span class="align-middle">
				<button type="button" class="btn btn-primary align-middle spell-btn" data-toggle="modal" v-bind:data-target="'#spell-modal-'+spell.id">
					{{spell.name}} ({{spell.memorizedCount(character)}})
				</button> </span>
			</div>

			<div class ="col-6 col-sm">
				<button type="button" class="btn learn-btn">Learn</button>
				<button type="button" class="btn delete-btn" disabled>Delete</button>
				<button type="button" class="btn memorize-btn">+</button>
				<button type="button" class="btn unmemorize-btn">-</button>
				<button type="button" class="btn cast-btn">C</button>
				<button type="button" class="btn recall-btn">R</button>
			</div>
			
			<div class="modal fade" v-bind:id="'spell-modal-'+spell.id" tabindex="-1" role="dialog" v-bind:aria-labelledby="'spell-modal-'+spell.id">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">{{spell.name}}</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							
						</div>
						<div class="modal-body">
							<div class="row spell-info-school">
								<div class="col-4 col-sm-3 spell-prop">School:</div>
								<div class="col spell-prop-value">{{spell.school}}</div>
							</div>
							<div class="row spell-info-level">
								<div class="col-4 col-sm-3 spell-prop">Level: </div>
								<div class="col spell-prop-value">{{spell.spellLevel}}</div>
							</div>
							<hr/>
							<div class="row spell-info-casting-time">
								<div class="col-4 col-sm-3 spell-prop">Casting time: </div>
								<div class="col spell-prop-value">{{spell.castingTime}}</div>
							</div>
							<div class="row spell-info-components">
								<div class="col-4 col-sm-3 spell-prop">Components: </div>
								<div class="col spell-prop-value">{{spell.components}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.range)" class="row spell-info-range">
								<div class="col-4 col-sm-3 spell-prop">Range: </div>
								<div class="col spell-prop-value">{{spell.range}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.area)" class="row spell-info-area">
								<div class="col-4 col-sm-3 spell-prop">Area: </div>
								<div class="col spell-prop-value">{{spell.area}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.effect)" class="row spell-info-effect">
								<div class="col-4 col-sm-3 spell-prop">Effect: </div>
								<div class="col spell-prop-value">{{spell.effect}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.target)" class="row spell-info-target">
								<div class="col-4 col-sm-3 spell-prop">Target: </div>
								<div class="col spell-prop-value">{{spell.target}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.duration)" class="row spell-info-duration">
								<div class="col-4 col-sm-3 spell-prop">Duration: </div>
								<div class="col spell-prop-value">{{spell.duration}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.savingThrow)" class="row spell-info-save">
								<div class="col-4 col-sm-3 spell-prop">Saving throw: </div>
								<div class="col spell-prop-value">{{spell.savingThrow}}</div>
							</div>
							<div v-if="!Utils.isStringEmpty(spell.spellResistance)" class="row spell-info-spell-resistance">
								<div class="col-4 col-sm-3 spell-prop">Spell resistance: </div>
								<div class="col spell-prop-value">{{spell.spellResistance}}</div>
							</div>
							<hr/>
							<div class="row spell-info-description top10">
								<div class="col">
									<div class="spell-prop">Description: </div>
									<div v-html="spell.description"></div>
								</div>
							</div>

							
							
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	<!--Save memorized Modal -->
	<div class="modal fade" id="saveMemorizedModalId" tabindex="-1" role="dialog" aria-labelledby="saveMemorizedModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Save memorized spells</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					
				</div>
				<div class="modal-body">
<!-- 					<div class="form-group"> -->
<!-- 						<label for="recipient-name" class="control-label">Name:</label> -->
<!-- 						<input type="text" class="form-control" id="memorizedConfigNameId"> -->
<!-- 					</div> -->
					
					<div class="row memorize-config">
						<div class="col"><input type="text" id="memorizedConfigNameId"></div>
						<div class="col"><button id="saveMemorizedId" type="button" class="btn btn-primary" data-dismiss="modal">Save</button></div>
					</div>
					
					<div class="existing-memorize-configs">
						<!--Load memorized configs -->
					</div>
					
					
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--Load memorized Modal -->
	<div class="modal fade" id="loadMemorizedModalId" tabindex="-1" role="dialog" aria-labelledby="loadMemorizedModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Load memorized spells</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					
				</div>
				<div class="modal-body">

					<div class="existing-memorize-configs">
						<!--Load memorized configs -->
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="memorizedConfigTemplateId" style="display:none">
		<div class="row memorize-config">
			<div class="col"><input readonly type="text" class="existing-memorized-name"></div>
			<div class="col"><button type="button" data-dismiss="modal" class="btn btn-primary btn-existing-memorized-config">Save/Load</button></div>
			<div class="col"><button type="button" data-dismiss="modal" class="btn btn-primary btn-delete-memorized-config">Delete</button></div>
		</div>
	</div>


</div>