<div id = "spellBookView" style="display: none;" class="view">
	<div class="navbar">
		<a class="navbar-btn spell-level-btn" data-spell-level="0" href="#">0</a>
		<a class="navbar-btn spell-level-btn" data-spell-level="1" href="#">1</a>
		<a class="navbar-btn spell-level-btn" data-spell-level="2" href="#">2</a>
		<a class="navbar-btn spell-level-btn" data-spell-level="3" href="#">3</a>
		<a class="navbar-btn spell-level-btn" data-spell-level="4" href="#">4</a>
		<a class="navbar-btn spell-level-btn" data-spell-level="5" href="#">5</a>
		<a class="navbar-btn spell-level-btn" data-spell-level="6" href="#">6</a>
	</div>
	<div id="spellsListId">
	</div>
</div>
