<div id="statusEffectsViewId">
	<div class="dropdown">
		<button class="btn dropdown-toggle dropdown-condition" type="button" data-toggle="dropdown">Choose effect<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a class="condition" href="#">Blinded</a></li>
			<li><a class="condition" href="#">Confused</a></li>
			<li><a class="condition" href="#">Cowering</a></li>
			<li><a class="condition" href="#">Dazed</a></li>
			<li><a class="condition" href="#">Dazzled</a></li>
			<li><a class="condition" href="#">Drained</a></li>
			<li><a class="condition" href="#">Entangled</a></li>
			<li><a class="condition" href="#">Exhausted</a></li>
			<li><a class="condition" href="#">Fascinated</a></li>
			<li><a class="condition" href="#">Fatigued</a></li>
			<li><a class="condition" href="#">Flatfooted</a></li>
			<li><a class="condition" href="#">Frightened</a></li>
			<li><a class="condition" href="#">Grappled</a></li>
			<li><a class="condition" href="#">Invisible</a></li>
			<li><a class="condition" href="#">Nauseated</a></li>
			<li><a class="condition" href="#">Panicked</a></li>
			<li><a class="condition" href="#">Paralyzed</a></li>
			<li><a class="condition" href="#">Petrified</a></li>
			<li><a class="condition" href="#">Pinned</a></li>
			<li><a class="condition" href="#">Prone</a></li>
			<li><a class="condition" href="#">Shaken</a></li>
			<li><a class="condition" href="#">Sickened</a></li>
			<li><a class="condition" href="#">Staggered</a></li>
			<li><a class="condition" href="#">Stunned</a></li>
		</ul>
	</div>
	
	<div id="conditionEffectsId">
	
	</div>
	
	<div class="dropdown">
		<button class="btn dropdown-toggle dropdown-buff" type="button" data-toggle="dropdown">Choose buff<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a class="buff" data-buff="haste" href="#">Haste</a></li>
			<li><a class="buff" data-buff="heroism" href="#">Heroism</a></li>
			<li><a class="buff" data-buff="goodHope" href="#">Good Hope</a></li>

		</ul>
		
		
	</div>
	
	<div id="buffEffectsId">
	
	</div>
</div>