<div id="statusEffectsViewId">
	<div class="dropdown">
		<button class="btn dropdown-toggle dropdown-condition" type="button" data-toggle="dropdown">Choose effect<span class="caret"></span></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<c-for-each list="ConditionsFactory" data-var="condition">
				<a class="dropdown-item condition" href="#">${condition.name}</a>
			</c-for>
		</div>
	</div>
	
	<div id="conditionEffectsId">
		<c-for-each list="myCharacter.conditionEffects" data-var="conditionEffect">
			<div class="row condition-row">
				<div class="col">
					<button class="btn btn-condition-effect" data-condition-effect=${conditionEffect}>${conditionEffect.name}</button>
				</div>
			</div>
		</c-for-each>
	
	</div>
	
	<div class="dropdown">
		<button class="btn dropdown-toggle dropdown-buff" type="button" data-toggle="dropdown">Choose buff<span class="caret"></span></button>
		<div class="dropdown-menu">
			<c-for-each list="BuffsFactory" data-var="buff">
				<a class="dropdown-item buff" data-buff="${buff}" href="#">${buff.name}</a>
			</c-for>
		</div>
		
		
	</div>
	
	<div id="buffEffectsId">
		<c-for-each list="characterBuffs" data-var="buff">
			<div class="row condition-row">
				<div class="col">
					<button class="btn btn-buff-effect" data-buff="${buff}" >${buff.name}</button>
				</div>
			</div>
		</c-for-each>
	
	</div>
</div>