<div id="statusEffectsViewId">
	<div class="dropdown">
		<button class="btn dropdown-toggle dropdown-condition" type="button" data-toggle="dropdown">Choose effect<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<c-for-each list="ConditionsFactory" data-var="condition">
				<li><a class="condition" href="#">${condition.name}</a></li>
			</c-for>
		</ul>
	</div>
	
	<div id="conditionEffectsId">
		<c-for-each list="myCharacter.conditionEffects" data-var="conditionEffect">
			<div class="row condition-row">
				<div class="col">
					<button class="btn btn-condition-effect" data-condition-effect=${conditionEffect}>${conditionEffect.name}</button>
				</div>
			</div>
		</c-for-each>
	
	</div>
	
	<div class="dropdown">
		<button class="btn dropdown-toggle dropdown-buff" type="button" data-toggle="dropdown">Choose buff<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a class="buff" data-buff="haste" href="#">Haste</a></li>
			<li><a class="buff" data-buff="heroism" href="#">Heroism</a></li>
			<li><a class="buff" data-buff="goodHope" href="#">Good Hope</a></li>

		</ul>
		
		
	</div>
	
	<div id="buffEffectsId">
	
	</div>
</div>