<div class = "row spell-row spell-level-{spellLevel}" style="display: none"> 
	<div class="col"> 
		<a target="_blank" href="http://www.dxcontent.com/SDB_SpellBlock.asp?SDBID=0">{spellName} (Lvl {spellLevel})</a> 
	</div> 
	<div class="col"><button type="button" class="btn learn-btn">Learn</button></div>  
	<div class="col"><button type="button" class="btn memorize-btn">Memorize</button></div> 
	<div class="col"><button type="button" class="btn cast-btn">Cast</button></div> 
	<div class="col"><button type="button" class="btn recall-btn">Recall</button></div> 
</div>


